{% extends "base.html" %}
{% block title %}Login{% endblock title %}
{% load static %}
{% block start %}
<div class="login-wrapper">
    <form class="login-form" method="POST">
      <h2>Login</h2>
      {% csrf_token %}
      <label for="username">Username*</label>
      <input type="text" id="username" name="username" placeholder="Enter your username" required style="margin-bottom:1rem">

      <label for="password">Password</label>
      <div style="position: relative; margin-bottom:2rem">
        <input type="password" id="password" name="password" placeholder="Enter your password" required style="padding-right: 155px;">
        <i class="fa-solid fa-eye" id="togglePassword" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;"></i>
      </div>
      
      <p style="font-style:italic ;">Haven't Register? <a href="{% url 'register_view' %}" style="margin-left: 35px; font-weight: bold; text-decoration: none; color: rgb(0, 0, 0);">Register</a></p>
      <button type="submit">Login</button>
    </form>
  </div>
{% endblock start %}